
$primaryText: #3C4858; // Black 
$subtitueText:  #8492A6;// Dark Grey
$disabledText: #DADEE4; // Grey

$appPrimary: #12B8FF;  // Aqua
$appBackground: #F5F6FA;

$inputBg: #F5F6F7; // Smoke
$inputBorder: #F0F2F4;

$white: #FFF